body{
    background-color:rgb(255, 208, 88);

}
h1{
    color:blue;
    background-color:cornsilk;
}
#show-sketch{
    float:right;
}
canvas{
    border:5px;
    border-radius:20px;
    animation-name: example;
    animation-duration:4s ;
    margin-top: 80px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{   box-shadow: 10px 10px 38px red ;}
    to{box-shadow: 10px 10px 38px white;}
}
